# OpenOCD config for STM32F407 via ST-Link
source [find interface/stlink.cfg]
source [find target/stm32f4x.cfg]

# Uncomment below if you want to reset and halt on connect
# reset_config srst_only srst_nogate
# adapter speed 1000
